<div class="center jumbotron">

<p>
	<strong>Usuário:</strong>
	<%= @usuario.nome %>
</p>

<p>
	<strong>E-mail:</strong>
	<%= @usuario.email %>
</p>

<p>
	<strong>password:</strong>
	<%= @usuario.password %>
</p>

<p>
	<strong>password_confirmation:</strong>
	<%= @usuario.password_confirmation %>
</p>

<p>
	<strong>Tipo:</strong>
	<%= @usuario.tipo %>
</p>

</div>