<!DOCTYPE html>
<html>
<head>
  <title>NA LUA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="w3-light-grey">

  <div class="container">

    <%= render 'layouts/partials/header' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
    
    <%= render 'layouts/partials/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </div>
  
</body>

</html>